.popular-container{
    background-color: black;
}
.pop_movie{
    display: flex;
    flex-wrap: wrap;
    column-gap: .2rem;
    row-gap: .2rem;
}
.pop-header{
    display: flex;
    color: white;
    justify-content: space-around;
    height: 5rem;
    align-content: center;
    align-items: center;
    margin-bottom: 2rem;
    border: 2px solid rgb(102, 89, 89);
}
.pop-header button{
    color: rgb(70, 235, 29);

    font-size: 2rem;
}

.pop_container img{
    width: 11.5rem;
height: 20rem;
border-radius: 5px;
border: 2px solid rgb(148, 136, 136);
}
.pop_container img:hover{
    transform: scale(1.2);
    z-index: 50;
}